{{ define "main" }}
<article class="article" id="post-3339">
  <div class="container">
    <header class="single-header">
      {{ if .Params.emoji }}
        <span class="article-icon">{{ .Params.emoji }}</span>
      {{ else }}
        <img src="{{ (print .Params.image) | absURL }}" alt="{{ .Title }}" height="75" width="75">
      {{ end }}
      <h1>{{ .Title }}</h1>
      <div class="date">
        <time datetime="2018-11-06">{{ .Date.Format "2006-01-2" }}</time> &nbsp;
      </div>
    </header>
    {{ .Content }}
  </div>
</article>
{{ end }}