<script src="/js/main.js"></script>
<!-- prism for highlighting code -->
<script src="/js/prism.js"></script>
{{ if .Site.Params.emojicom }}
<!-- Start emojicom.io widget -->
<script>
  window.emojicom_widget = { campaign: {{ .Site.Params.emojicom }} };
</script>
<script src="https://cdn.emojicom.io/embed/widget.js" async></script>
<!-- End emojicom.io widget -->
{{ end }}
<script
  src="{{"mermaid/mermaid.js" | relURL}}{{ if not .Site.Params.disableAssetsBusting }}?{{ now.Unix }}{{ end }}"></script>
<script>
  mermaid.initialize({ startOnLoad: true });
</script>

{{ template "_internal/google_analytics.html" . }}
