<nav class="nav">
  <div class="nav-container">
    <div class="brand">
      <a href='{{ .Site.BaseURL }}'>
        {{ if .Site.Params.emoji }}
          <span class="brand-icon">{{ .Site.Params.icon}}</span>
        {{ else }}
          <img src="{{ (print .Site.Params.image) | absURL  }}" class="brand-image">
        {{ end }}
        <span>{{ .Site.Title | default "Home" }}</span>
      </a>
    </div>
    <div class="links">
      {{ range .Site.Menus.main }}
        <a href='{{ .URL }}'>{{ .Name }}</a>
      {{ end }}
    </div>
    <div class="extra">
      
      {{ range $key, $val := .Site.Social }}
      <a class="symbol" href="{{ $val }}" class="nav-icon" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-{{ $key }}"></i>
      </a>
      {{ end }}
      {{ if .Site.Params.enableRSS }}
        <a class="cta" href="{{ .Site.RSSLink }}">
          <span class="yellow">
            <i class="fas fa-rss"></i>{{ .Site.Params.subscribe | default "" }}
          </span>
        </a>
      {{ end }}
      <a class="nav-icon" id="night-mode"><i class="fas fa-moon"></i></a>
      <!-- <a href="https://ko-fi.com/taniarascia" class="nav-icon" target="_blank"><span class="yellow"><i
            class="fas fa-coffee"></i></span></a> -->
    </div>
  </div>
</nav>